<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">    
  </head>
  <body>
    <div id="container">
    <h1>Codebreaker</h1>
      <form method="POST" action="/check">
        <input type="text" name="guess" placeholder="Your guess" autofocus>
        <input class="btn" type="submit" value="Enter">
      </form>
      <% if @game.hints > 0 %></br>
        <p>You have <%= @game.hints %> hints</p>
        <a href = "/hint" class="btn">Show hint</a>
      <% else %></br>
        <p>One of the secret number is <%= hint %></p>
      <% end %></br>
      <p>You have <%= @game.tries %> chanses to break the code</p>
      <p>Your result: <%= mark %></p>
      <a href = "/play_again" class="btn">Restart</a>
      <a href = '/score' class="btn">Show statistic</a>
    </div>
  </body>
</html>